<!-- <form autocomplete="off" #createHelpDeskForm="ngForm" (ngSubmit)="save()">
    <h1 mat-dialog-title>Create New HelpDesk</h1>
    <mat-dialog-content>
      <div class="row-fluid">
        <div class="col-md-12">
          <mat-form-field>
            <input matInput name="Name" [placeholder]="'Name' | localize" [(ngModel)]="helpdesk.name" required
              maxlength="128" />
          </mat-form-field>
        </div>
      </div>
    </mat-dialog-content>
    <div mat-dialog-actions align="end">
      <button mat-button type="button" [disabled]="saving" (click)="close(false)">
        {{ "Cancel" | localize }}
      </button>
      <button mat-flat-button type="submit" flex="15" color="primary"
        [disabled]="!createHelpDeskForm.form.valid || saving">
        {{ "Save" | localize }}
      </button>
    </div>
  </form> -->

  <form
  class="form-horizontal"
  autocomplete="off"
  #createHelpDeskForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'CreateNewHelpDesk' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'Details' | localize" class="pt-3 px-2">
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="name">
            {{ "Name" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="name"
              id="name"
              required
              minlength="2"
              maxlength="32"
              [(ngModel)]="helpdesk.name"
              #nameModel="ngModel"
              #nameEl
            />
            <abp-validation-summary
              [control]="nameModel"
              [controlEl]="nameEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="email">
            {{ "Email" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="email"
              id="email"
              required
              minlength="2"
              maxlength="32"
              [(ngModel)]="helpdesk.email"
              #emailModel="ngModel"
              #emailEl
            />
            <abp-validation-summary
              [control]="emailModel"
              [controlEl]="emailEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="surName">
            {{ "SurName" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="surName"
              id="surName"
              required
              minlength="2"
              maxlength="32"
              [(ngModel)]="helpdesk.surName"
              #surNameModel="ngModel"
              #surNameEl
            />
            <abp-validation-summary
              [control]="surNameModel"
              [controlEl]="surNameEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row mb-0">
          <label class="col-md-3 col-form-label" for="description">
            {{ "Description" | localize }}
          </label>
          <div class="col-md-9">
            <textarea
              type="text"
              class="form-control"
              name="description"
              id="description"
              [(ngModel)]="helpdesk.description"
            >
            </textarea>
          </div>
        </div>
      </tab>
      <!-- <tab [heading]="'Permissions' | localize" class="pt-3 px-2">
        <div class="form-group row mb-0">
          <ng-container *ngFor="let permission of permissions; let i = index">
            <div class="col-md-6">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  [id]="'permission_' + i"
                  [checked]="isPermissionChecked(permission.name)"
                  (change)="onPermissionChange(permission, $event)"
                />
                <label class="custom-control-label" [for]="'permission_' + i">
                  {{ permission.displayName }}
                </label>
              </div>
            </div>
          </ng-container>
        </div>
      </tab> -->
    </tabset>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createHelpDeskForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
