@model MyProject.Problems.Problem
@{ Layout = null;}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <title>Problem Description</title>
</head>
<body>
    <div class="m-1 p-1">
        <div class="text-center">
            <a asp-action="Create" class="btn btn-primary">
                Create a request for problems
            </a>
        </div>
    </div>
        
</body>
</html>

